body {
    background-color: white;
    font-family: 'Poppins', sans-serif; /* Aplicando a fonte Poppins como fonte principal */
    display: flex;
    margin: 0;
}

header{
    position: sticky;
    top: 0;
    background-color: #092D6A;
    width: 100%;
}
header .logo{
    margin-left: 40px;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #c6c5c5;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    display: inline-block;
    transition: 0.2s;
    text-shadow: 3px 3px 9px #002544e9;
}

header a:hover{
    color: var(--texto2);
    text-shadow: 0px 0px 8px #008cff;
    transform: scale(1.05);
}

.container_inputs_calculadora{
    display: flex;
    background-color: #a0a5ac81 ;
    position: fixed;
    top: 110px;
    left: 10px;
    width: 30%;
    flex-direction: column;
    padding: 57px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 3);
    color: #1B1B1D;
}
.container_inputs_calculadora input {
    padding: 3px; /* Adicionando espaço interno */
    border-radius: 5px; /* Bordas arredondadas */
    border: 1px solid #ccc; /* Adicionando uma borda com cor cinza */
    background-color: #ffffffc4; /* Cor de fundo */
    margin-bottom: 3px; /* Espaçamento entre os inputs */
    margin-top: -4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 2);
}
.container_inputs_calculadora p{
    margin: 3px;
    margin-top: -50px;
    font-family: 'Poppins', sans-serif;
}
.container_inputs_calculadora button{
    padding: 5px 5px; /* Adiciona espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    background-color: #092D6A; /* Cor de fundo */
    color: white; /* Cor do texto */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Altera o cursor ao passar o mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2); /* Adiciona uma sombra */
    transition: background-color 0.3s, box-shadow 0.3s; /* Adiciona transição suave */
}

.container_inputs_calculadora button:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}

.div_container_result {
    padding: 200px;
    background-color: #092D6A; /* Cor de fundo */
    border-radius: 20px; /* Bordas arredondadas */
    box-shadow: 0 20px 40px rgba(0, 0, 0, 3); /* Sombra */
    max-width: 30%; /* Largura máxima */
    position: fixed; /* Posicionando a div de forma fixa */
    top: 110px; /* Posicionando a div abaixo do cabeçalho */
    right: 10px; /* Afastando a div da direita */
    color: #ffffff;
    display: none;
    height: 2%;
    height: 7%;

}
.p_result{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: -150px;
}
.div_image img{
    position: fixed;
    top: 120px; /* Posicionando a mesma distância do topo que a div_container_result */
    right: 190px; /* Posicionando a mesma distância da direita que a div_container_result */
    display: block;
}

