:root {
  --fundo: #eeeefa;
  --azul: #3C81D1;
  --azulclaro: #0077ff;
  --texto: #1B1B1D;
  --texto2: #FDFBFB;
  --background-dark: #1A1A1A;
  --background-light: #2A2A2A;
  --accent-color: #3C81D1;
  --text-color: #FFFFFF;
  --input-background: #333333;
}

body {
  font-family: "Poppins", sans-serif;
  /* background: rgb(0, 10, 20);
  background: radial-gradient(circle, #3C81D1 0%, #0077ff 55%); */
  background-image: url(img/fundo.jpg);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}

.card {
  width: 90%;
  max-width: 1000px;
  height: 90%;
  max-height: 90vh;
  background-color: var(--background-light);
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.sidebar {
  width: 25%;
  background-color: var(--background-dark);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  margin: 0;
  margin-bottom: 20px;
  color: var(--accent-color);
}

.sidebar .menu-item {
  padding: 10px;
  margin-bottom: 10px;
  background-color: var(--background-light);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar .menu-item:hover {
  background-color: var(--accent-color);
}

.chat-area {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chat-header {
  background-color: var(--background-dark);
  padding: 20px;
  text-align: center;
  font-size: 24px;
}

.chat-window {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: var(--background-light);
}

.robo-icone {
  width: 10%;
}

.chat-input {
  display: flex;
  padding: 20px;
  background-color: var(--background-dark);
}

.message-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: var(--input-background);
  color: var(--text-color);
}

.send-button {
  background: linear-gradient(to bottom, #4dc7d9 0%, #0077ff 100%);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  padding: 10px 20px;
  margin-left: 10px;
}

.send-button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.send-button:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.message-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--background-dark);
  color: var(--text-color);
}

.message.chatbot {
  background-color: var(--background-dark);
  color: var(--text-color);
  border-radius: 0px 10px 10px 10px;
-webkit-border-radius: 0px 10px 10px 10px;
-moz-border-radius: 0px 10px 10px 10px;
  padding: 10px;
  margin-bottom: 10px;
  position: relative; /* Para posicionar a imagem do ícone */
}

.message.chatbot::before {
  content: ''; /* Criando o balão de conversa */
  position: absolute;
  top: 0;
  left: -20px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid var(--background-dark);
}

.robo-icone {
  width: 30px; /* Tamanho do ícone do chatbot */
  height: 30px; /* Tamanho do ícone do chatbot */
  position: absolute; /* Posicionamento absoluto para ficar dentro do balão */
  bottom: -15px; /* Ajuste fino do posicionamento vertical */
  left: -40px; /* Ajuste fino do posicionamento horizontal */
  border-radius: 50%; /* Para tornar a imagem redonda */
  
}
