@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


/* estilo geral */
*{
    margin: 0; /*a margem da pagina*/
    padding: 0; /*espaçamento que fica dentro dos elementos*/
    box-sizing: border-box; /*para que tudo fique dentro da mesma "caixa"*/
    font-family: "Poppins";
}

a{
    text-decoration: none;
}

body{
    background-image: url(../Imagem/Design\ sem\ nome\ \(4\).png);
    background-size: cover; /* Garante que a imagem cubra toda a área disponível */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-position: center center; /* Centraliza a imagem no fundo */
    background-attachment: fixed; /* Faz com que a imagem de fundo não role junto com a página */
}

.linha{
    background-color: #000000;
    height: 1px;
    filter: opacity(8%);
    margin-left: 186px;
    width: 1348px;
}

.textdash{
    margin-top: 35px;
}

:root{
	--sidebar: #0E336D;
	--detalhesAzul: #3C81D1;
	--fundo: #eeeefa;
	--quadrados: #fff;

	--kpivermelhofundo: #CC4141;
	--detalhesvermelho: #FF0000;

	--kpiamarelofundo: #FF9A23;
	--detalhesamarelo: #FFC700;

	--kpiverdefundo: #1A932E;
	--detalhesverde: #00FF29; 
}

main{
    width: 100%;
    height: 100%;
    position: relative;
}

.conteudo{
    height: 100%;
    width: 70%;
    margin-left: 215px;
}

/* Estilos do Conteúdo */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 20px 5px 5px;
    gap: 10px;
}

/* Estilos do Cabeçalho */
.header {
    display: flex;
    justify-content: space-between;
    margin-left: -700px;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 24px;
    color: #333;

}

.user-info {
  display: flex;
  align-items: center;
  left: 1220px;
  top: 32px;

  background-color: var(--quadrados);
  padding: 5px 20px 5px 5px;
  gap: 10px;
  border-radius: 24px;
  position: absolute;
  width: 190px;
  height: 53px;
}

.user-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-text {
    display: flex;
    flex-direction: column;
}

.user-name {
    font-weight: bold;
    color: #333;
}

.user-title {
    color: #666;
}

/* Estilos da Barra Lateral */
.sidebar {
  width: 100px;
  height: 100%;
  background-color: var(--sidebar);
  display: flex;
  position: fixed;
  flex-direction: column;
  box-shadow: 13.4945px 14.9939px 94.4613px rgba(0, 0, 0, 0.24);

  overflow: hidden;
  transition: .2s;
  z-index: 1000;
  padding: 20px 0px;
  
  padding-top: 50px;
}

.sidebar-icon{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Adicionado espaço abaixo */
}

.sidebar-icon img {
  width: 60px; /* Ajuste o tamanho conforme necessário */
  height: auto; /* Mantém a proporção da imagem */
  cursor: pointer;
}

/* .sidebar-menu {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 20px;
} */

nav.sidebar:hover{
  width: 300px;
}

.sidebar-menu a{
  color: white;
  text-decoration: none;
  margin-left: 20px;
  padding: 10px;
  display: flex;
  margin-bottom: 20px;
  line-height: 10px;
  display: flex;
  align-items: center;
}

/* .iconSaida{
  margin-left: 10px;
} */

.txt{
  font-size: 18px;
  font-family: "Poppins";
}

.txtIcon {
  margin-left: 40px;
}

.sidebar-menu a .txt{
  margin-left: 40px;
  white-space: nowrap;
  transition: opacity 0.2s;
}

.menu-item:hover{
  background-color: var(--detalhesAzul);
  margin-left: -5px;
  border-radius: 2px;
}

.menu-item {
  margin: 30px 0;
  display: flex;
  align-items: left;
  transition: .5s;
}

.menu-item img {
  width: 30px;
  height: 30px;
}





.container {
    display: flex;
    /* overflow: hidden; */
    flex-direction: row;
}
.container .img_tomada{
    width: 20%;
    margin-left: 15%;
}

.container-alert{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
}
.container-alert ion-icon{
    margin-left: 25%;
    font-size: 2rem;
}
.container span{
    width: 100%;
}
.icon-alerta{
    font-size: 3rem;
}
.cont{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 80vw;
    height: 15vh;
}
.dash {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;

}

.container_botao_kpi {
    display: flex;
    flex-direction: column;
}


.perfil {
    display: flex;
    justify-content: space-around;
    margin: 0;
}
.perfil b{
    font-size: 25px;
}

.nome_dashboard  {
    display: flex;
    position: relative;
    font-size: 200%;
    top: 25px;
}

.nome_perfil {
    display: flex;
    position: fixed;
    font-size: 120%;
    top: 35px;
    right: 120px;
}
.nome_perfil img{
    display: flex;
    position: fixed;
    width: 47px;
    height: 47px;
    top: 35px;
    right: 50px;
}
.bt {
    display: inline-block;
    position: relative;
    width: 18px;
    height: 18px;
    margin: 0 2px;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    cursor: pointer;
    background: transparent;
    background-color: #bcbcc1;
    border-color:  transparent;
}

.bt:hover{
    background-color: #4f86fe;
    transform: scale(1.1, 1.1);
}

.alinhar {

    margin-top: 2%;
    display: flex;
    flex-direction: row;
    width: 80vw;
    gap: 30px;
    justify-content: space-evenly;
    align-items: center;
    
}

.alertas{
    flex-direction: column;
}

/* background: #aeb8ce;
background: #0f5bff 
background: #01062e
COR DA NAVBAR*/

.card-kpi-b {
    border-radius: 15px;
    width: 22vw;
    height: 27vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #132053, #111955);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    color: #fff;
    font-family: "Poppins";
    transition: transform 0.3s ease;
    text-align: center;
}

.card-kpi-b span {
    font-size: 25px;
}

.card-kpi-b:hover {
    transform: scale(1.05);
}

.grafico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 40vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    border-radius: 20px;
    background-color: #ffffff;

}
.grafico span{
    width: 25vw;
    text-align: center;
}

.navigation:hover .logo{
    margin-left: 25%;
}

.card-alerta a{
    text-decoration: none;
    width: 15vw;
    height: 28vh;
    background-color: #ffffff;
    box-shadow:  0 6px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    color: black;
    color: #fff;
    background: linear-gradient(135deg, #c60c0c, #e51313);
}