@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


/* estilo geral */
*{
    margin: 0; /*a margem da pagina*/
    padding: 0; /*espaçamento que fica dentro dos elementos*/
    box-sizing: border-box; /*para que tudo fique dentro da mesma "caixa"*/
    font-family: "Poppins";
}

a{
    text-decoration: none;
}

body{
    background-image: url(../Imagem/Design\ sem\ nome\ \(4\).png);
    background-size: cover; /* Garante que a imagem cubra toda a área disponível */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-position: center center; /* Centraliza a imagem no fundo */
    background-attachment: fixed; /* Faz com que a imagem de fundo não role junto com a página */
}

.linha{
    background-color: #000000;
    height: 1px;
    filter: opacity(8%);
    margin-left: 186px;
    width: 1348px;
}

.textdash{
    margin-top: 35px;
    margin: 0;
    display: inline;
}
.perfil {
  display: flex;
  margin: 0;
}
.perfil b{
  font-size: 16px;
  display: inline;
  margin: 0;
  padding: 0;
}

:root{
	--sidebar: #0E336D;
	--detalhesAzul: #3C81D1;
	--fundo: #eeeefa;
	--quadrados: #fff;

	--kpivermelhofundo: #CC4141;
	--detalhesvermelho: #FF0000;

	--kpiamarelofundo: #FF9A23;
	--detalhesamarelo: #FFC700;

	--kpiverdefundo: #1A932E;
	--detalhesverde: #00FF29; 
}

main{
    width: 100%;
    height: 100%;
    position: relative;
}

.conteudo{
    height: 100%;
    width: 70%;
}

/* Estilos do Conteúdo */
.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 20px 5px 5px;
    gap: 10px;
}

/* Estilos do Cabeçalho */
.header {
    display: flex;
    justify-content: space-between;
    margin-left: 180px;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 24px;
    color: #333;

}

.user-info {
  display: flex;
  align-items: center;
  left: 1220px;
  top: 32px;

  background-color: var(--quadrados);
  padding: 5px 20px 5px 5px;
  gap: 10px;
  border-radius: 24px;
  position: absolute;
  width: 190px;
  height: 53px;
}

.user-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-text {
    display: flex;
    flex-direction: column;
}

.user-name {
    font-weight: bold;
    color: #333;
}

.user-title {
    color: #666;
}

/* Estilos da Barra Lateral */
.sidebar {
  width: 100px;
  height: 100%;
  background-color: var(--sidebar);
  display: flex;
  position: fixed;
  flex-direction: column;
  box-shadow: 13.4945px 14.9939px 94.4613px rgba(0, 0, 0, 0.24);

  overflow: hidden;
  transition: .2s;
  z-index: 1000;
  padding: 20px 0px;
  
  padding-top: 50px;
}

.sidebar-icon{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Adicionado espaço abaixo */
}

.sidebar-icon img {
  width: 60px; /* Ajuste o tamanho conforme necessário */
  height: auto; /* Mantém a proporção da imagem */
  cursor: pointer;
}

/* .sidebar-menu {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 20px;
} */

nav.sidebar:hover{
  width: 300px;
}

.sidebar-menu a{
  color: white;
  text-decoration: none;
  margin-left: 20px;
  padding: 10px;
  display: flex;
  margin-bottom: 20px;
  line-height: 10px;
  display: flex;
  align-items: center;
}

/* .iconSaida{
  margin-left: 10px;
} */

.txt{
  font-size: 18px;
  font-family: "Poppins";
}

.txtIcon {
  margin-left: 40px;
}

.sidebar-menu a .txt{
  margin-left: 40px;
  white-space: nowrap;
  transition: opacity 0.2s;
}

.menu-item:hover{
  background-color: var(--detalhesAzul);
  margin-left: -5px;
  border-radius: 2px;
}

.menu-item {
  margin: 30px 0;
  display: flex;
  align-items: left;
  transition: .5s;
}

.menu-item img {
  width: 30px;
  height: 30px;
}

/*cards informativos*/

.container_cards{
    position: absolute;
    top: 100px;
    left: 100px; /* largura da nav, ajuste conforme necessário */
    width:90%; /* largura total menos a largura da nav */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
}
.card_kpi_a{
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 50px 70px;
    background-color: var(--quadrados);
}
.card_kpi_b{
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 50px 70px;
    background-color: var(--quadrados);
}
.card_kpi_c {
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0 0 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: var(--quadrados);
  }
  
  .temp_item span,
  .umid_item span {
    font-size: 15px;
    margin-top: 10px;
    color: #000000;
    top: 0;
  }
  .temp_item,
  .umid_item {
    display: flex;
    flex-direction: column; /* Para alinhar span e h1 verticalmente */
    align-items: center; /* Alinhar elementos ao centro */
    margin-bottom: 5px;
}
  /* Gradiente de cor para temperatura */
  .temperatura {
    display: flex;
    flex-direction: row;
  }
  
  .temp_item {
    padding: 0 20px;
  }
  
  .temp_item h1 {
    color: white;
    background: linear-gradient(
      90deg,
      #00ff2a 0%,
      #00ff2a 25%,
      #ffc700 43%,
      #ffc700 71%,
      #ff0000 100%
    );
    padding: 2px 5px;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 10px;

    white-space: pre; /* Preserve os espaços em branco */
    word-spacing: 5px; /* Ajuste conforme necessário */
  }
  
  /* Estilo padrão para umidade */
  .umidade {
    display: flex;
    flex-direction: row;
  }
  
  .umid_item {
    padding: 0 20px;
    justify-content: center;
  }

  .umid_item h1{
    color: white;
    background: linear-gradient(
      90deg,
      #00ff2a 0%,
      #00ff2a 2%,
      #ffc700 38%,
      #ffc700 67%,
      #ff0000 100%
    );
    padding: 2px 15px;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 10px;
    justify-content: center;

    white-space: pre; /* Preserve os espaços em branco */
    word-spacing: 20px; /* Ajuste conforme necessário */
  }

  /* card de acompanhamento de dash*/
  .container_cards_acompanhamneto{
    position: absolute;
    top: 300px;
    left: 510px; /* largura da nav, ajuste conforme necessário */
    width: 90%; /* largura total menos a largura da nav */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;


  }
  .card_kpi_temperatura{
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 70px 20px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
  }
  .card_kpi_umidade{
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 70px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
  }
  .imagem_span img{
    width: 200px;
    margin-left: 20px;
  }
  .imagem_span2 img{
    width: 200px;
    margin-left: 20px;
  }
  .imagem_span, .imagem_span2{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
  }
  .imagem_span span{
    font-size: 30px;
    font-weight: 900;
  }
  .imagem_span2 span{
    font-size: 30px;
    font-weight: 900;
  }

  
  .dash_temperatura{
    position: absolute;
    top: 290px;
    left: 130px; /* largura da nav, ajuste conforme necessário */
    width: 55vw; /* Largura do gráfico */
    height: 60vh; /* Altura do gráfico */
    background: var(--quadrados);
    border-radius: 12px;
    padding: 20px;
  }
  .dash_umidade{
    position: absolute;
    top: 750px;
    left: 130px; /* largura da nav, ajuste conforme necessário */  
    width: 55vw; /* Largura do gráfico */
    height: 60vh; /* Altura do gráfico */
    background: var(--quadrados);
    border-radius: 12px;
    padding: 20px;
  }


