*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 155vh;
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
}

nav.menu_lateral{
    width: 80px;
    height: 100%;
    background-color: #0E336D;
    padding: 40px 0px;
    box-shadow: 3px 0 0 black;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;
    z-index: 1000;
}
.btn_expansao{
    width: 100%;
    padding-left: 10px 0;
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Adicionado espaço abaixo */
}
.btn_expansao img {
    width: 70px; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    cursor: pointer;
}


ul{
    height: 100%;
    list-style-type: none;
}

ul li.item_menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
    display: flex;
    align-items: center;
}

ul li.item_menu a .txt_link{
    margin-left: 40px;
    margin-left: 20px;
    white-space: nowrap;
    transition: opacity 0.2s;
}

span.icon{
    font-size: 30px;
    margin-left: 10px;
}

ul li.item_menu:hover{
    background-color: #3C81D1;
}
ul li.item_menu{
    transition: .5s;
}
nav.menu_lateral:hover{
    width: 300px;
}

/*Informação do usuario*/

.container_usuario{
    position: absolute;
    top: 0;
    left: 100px; /* largura da nav, ajuste conforme necessário */
    width:90%; /* largura total menos a largura da nav */
    background-color: #fff; /* cor de fundo, ajuste conforme necessário */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
}
.tomada b{
    font-size: 35px;
}
.nome_perfil{
    width: 200px;
    display: flex;
    margin-left: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
    border-radius: 30px;
    align-items: center;
    justify-content: center;
}
.nome_perfil img{
    width: 70px;
    margin-right: 5px;
}
.texto_usuario{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

/*linha de divisão*/

.linha {
    width: 80%; /* Defina a largura conforme necessário */
    height: 1px; /* Altura da linha */
    background-color: #ccc; /* Cor da linha */
    z-index: 999; /* Ajuste o z-index se necessário */
    margin: 100px auto ;
}

/*cards informativos*/

.container_cards{
    position: absolute;
    top: 100px;
    left: 100px; /* largura da nav, ajuste conforme necessário */
    width:90%; /* largura total menos a largura da nav */
    background-color: #fff; /* cor de fundo, ajuste conforme necessário */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
}
.card_kpi_a{
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
    padding: 50px 70px;
}
.card_kpi_b{
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
    padding: 50px 70px;
}
.card_kpi_c {
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
    padding: 10px 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  
  .temp_item span,
  .umid_item span {
    font-size: 18px;
    color: #000000;
    top: 0;
  }
  .temp_item,
  .umid_item {
    display: flex;
    flex-direction: column; /* Para alinhar span e h1 verticalmente */
    align-items: center; /* Alinhar elementos ao centro */
    margin-bottom: 5px;
}
  /* Gradiente de cor para temperatura */
  .temperatura {
    display: flex;
    flex-direction: row;
  }
  
  .temp_item {
    padding: 0 20px;
  }
  
  .temp_item h1 {
    color: white;
    background: linear-gradient(to right, #28a745, #ffc107, #dc3545);
    padding: 2px 15px;
    border-radius: 10px;
    font-size: 28px;
    margin-top: 10px;
  }
  
  /* Estilo padrão para umidade */
  .umidade {
    display: flex;
    flex-direction: row;
  }
  
  .umid_item {
    padding: 0 20px;
  }

  .umid_item h1{
    color: white;
    background: linear-gradient(to right, #28a745, #ffc107, #dc3545);
    padding: 2px 15px;
    border-radius: 10px;
    font-size: 28px;
    margin-top: 10px;
  }

  /* card de acompanhamento de dash*/
  .container_cards_acompanhamneto{
    position: absolute;
    top: 300px;
    left: 510px; /* largura da nav, ajuste conforme necessário */
    width:90%; /* largura total menos a largura da nav */
    background-color: #fff; /* cor de fundo, ajuste conforme necessário */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;


  }
  .card_kpi_temperatura{
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
    padding: 70px 20px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card_kpi_umidade{
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
    padding: 70px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .imagem_span img{
    width: 200px;
    margin-left: 20px;
  }
  .imagem_span2 img{
    width: 200px;
    margin-left: 20px;
  }
  .imagem_span, .imagem_span2{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
  }
  .imagem_span span{
    font-size: 30px;
    font-weight: 900;
  }
  .imagem_span2 span{
    font-size: 30px;
    font-weight: 900;
  }

  
  .dash_temperatura{
    position: absolute;
    top: 290px;
    left: 110px; /* largura da nav, ajuste conforme necessário */
    width: 80vw; /* Largura do gráfico */
    height: 60vh; /* Altura do gráfico */
  }
  .dash_umidade{
    position: absolute;
    top: 700px;
    left: 110px; /* largura da nav, ajuste conforme necessário */  
    width: 80vw; /* Largura do gráfico */
    height: 60vh; /* Altura do gráfico */
  }
